@model Application.DTOs.ReportDto

<h1>Report Details</h1>
<p><strong>RequestDate:</strong> @Model.RequestDate</p>
<p><strong>Location:</strong> @Model.Location</p>
<p><strong>Hotel Count:</strong> @Model.HotelCount</p>
<p><strong>Contact Phone Count:</strong> @Model.HotelContactPhoneCount</p>
<p><strong>Status:</strong> @Model.Status</p>

<a href="/Report" class="btn btn-secondary">Back to Reports</a>